<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">



<xacro:macro name="robotiq_ft_300" params="prefix">


  <link name="${prefix}base_link">
    <inertial>
      <origin xyz="0.01987 -0.00039088 -0.00013094" rpy="0 0 0" />
      <mass value="0.087805" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_ft_300/visual/base_link.dae" />
      </geometry>
      <material name="">
        <color rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_ft_300/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>

  <link name="${prefix}top_link" />

  <joint name="${prefix}top_joint" type="fixed">
    <origin xyz="0.0348 0 0" rpy="0 0 0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}top_link" />
  </joint>





</xacro:macro>
</robot>
