<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">



<xacro:macro name="robotiq_c062_a159" params="prefix">


  <link name="${prefix}base_link">
    <inertial>
      <origin xyz="0.0154561980005085 -2.39874465854351E-08 -5.45937031412302E-05" rpy="0 0 0" />
      <mass value="0.0984718698874868" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_c062_a159/visual/base_link.dae" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_c062_a159/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>


  <link name="${prefix}left_top_link" />

  <joint name="${prefix}left_top_joint" type="fixed">
    <origin xyz="0.027 0.043 0" rpy="0 0 0.7854" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}left_top_link" />
  </joint>


  <link name="${prefix}right_top_link" />

  <joint name="${prefix}right_top_joint" type="fixed">
    <origin xyz="0.027 -0.043 0" rpy="0 0 -0.7854" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}right_top_link" />
  </joint>



</xacro:macro>
</robot>
