<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">



<xacro:macro name="robotiq_grp_cpl_062" params="prefix">


  <link name="${prefix}base_link">
    <inertial>
      <origin xyz="0.00227643166121317 -0.00163641909670073 -0.000186465195632485" rpy="0 0 0" />
      <mass value="0.0212636185801172" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_grp_cpl_062/visual/base_link.dae" />
      </geometry>
      <material name="">
        <color rgba="0.0392156862745098 0.0392156862745098 0.0392156862745098 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_grp_cpl_062/collision/base_link.stl" />
      </geometry>
    </collision>
  </link>


  <link name="${prefix}top_link" />

  <joint name="${prefix}top_joint" type="fixed">
    <origin xyz="0.0027 0 0" rpy="0 0 0" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}top_link" />
  </joint>


  



</xacro:macro>
</robot>
