<launch>
  <arg name="gui" default="True" />
  

    <arg name="kinova_coupler" default="true"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotiq_description)/urdf/robotiq_2f_85/robotiq_2f_85_gripper.xacro'" unless="$(arg kinova_coupler)"/>
    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotiq_description)/urdf/robotiq_2f_85/kinova_robotiq_2f_85_gripper.xacro'" if="$(arg kinova_coupler)"/>


  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotiq_description)/config/robotiq_2f_85.rviz" required="true" />
</launch>
